<!DOCTYPE html>
<html>
  <head>
    <title>Application Name</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Application Name</h1>
    <p>Welcome <%= signedInAs %></p>

    <%- include('./includes/page-footer.ejs') %>

  </body>
</html>
