<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>
      <%= users.length %>
      User<%= (!users.length || users.length > 1) ? "s" : "" %>
    </h1>
    <ul>

      <% users.forEach(function(handle) { %>

        <li>
          <%= handle %>

          <% if (handle === req.cookies.handle) { %>
            <b>(you)</b>
          <% } %>

        </li>

      <% }) %>

    </ul>

    <%- include('./includes/page-footer.ejs') %>

  </body>
</html>
